*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
     body {
            background: rgb(255, 251, 251);
            padding: 30px;
        }
        .card img {
            height: 220px;
            object-fit: contain;
            background:#fff;
        }
        .price {
            font-weight: bold;
            color: #e63e6d;
        }
        .navbar {
  background-color: #f48fb1;
}
.navbar-brand {
  color: #fce4ec;
  font-weight: bold;
  font-size: 42px;
  font-family: "Monsieur La Doulaise", cursive;
}
.navbar-brand:hover{
  color: #fce4ec;
  transform: scale(1.1);
  transition: 1s;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
        